<form class="form">
    <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="" [(ngModel)]="employee.firstName" name="firstName"/>
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="" [(ngModel)]="employee.lastName" name="lastName"/>
    </div>
    <div class="mb-3">
        <label for="department" class="form-label">Department</label>
        <app-department-selection (departmentChanged)="onDepartmentChanged($event)" [selectedDepartment]="employee.department"></app-department-selection>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Emmail</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com" [(ngModel)]="employee.email" name="email"/>
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" class="form-control" id="phone" placeholder="" [(ngModel)]="employee.phone" name="phone"/>
    </div>
    <div class="d-flex flex-row mb-3 justify-content-end">
        <button class="btn btn-secondary ms-3" (click)="onCancel()" type="button">Cancel</button>
        <button class="btn btn-primary ms-3" (click)="onSave()" type="button">Save</button>
    </div>
</form>
